.message-left,
.message-right {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.message-left {
  align-self: flex-start;
  background: white;
}

.message-right {
  align-self: flex-end;
  background: #dcf8c6;
}

.message-click {
  animation: flash 0.5s ease-in-out;
  background-color: #fffa9c;
  transition: background-color 0.5s;
}

.message-after-click {
  background-color: transparent;
}

@keyframes flash {
  0% { background-color: #fffa9c; }
  100% { background-color: transparent; }
}
